<div class="card">
    <img class="card-img-top" src="https://e3.365dm.com/18/06/536x302/skynews-london-bridge-terror-attack_4327439.jpg?20180603180213"
        alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title">
            <a href="https://news.sky.com/story/minutes-silence-for-london-bridge-terror-attack-victims-11393835" target="_blank">Minute's silence for London Bridge attack victims</a>
        </h5>
        <p class="card-text">New tributes were laid on the bridge one year to the day since the attack, which killed eight people and injured
            dozens more.</p>
        <a href="#" class="btn btn-primary"><i class="fa fa-floppy-o"></i> Save article</a>
    </div>
</div>