<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="description" content="SkyScraper, the Sky News Web Scraper">
    <meta name="keywords" content="SkyScraper, Sky News, Web Scraper">
    <meta name="theme-color" content="#439FD8" />
    <title>
        SkyScraper
    </title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport'
    />
    <link rel="icon" href="/favicon.ico" type="image/x-icon" />
    <!-- CSS Files -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/style.css" />
</head>

<body>
    <div class="wrapper">
        <header class="container-fluid">
            <nav class="navbar navbar-expand-lg">
                <a class="navbar-brand" href="/">SkyScraper</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="align-middle">
                        <i class="fa fa-navicon"></i>
                    </span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item resp-nav">
                            <a class="nav-link" id="home-link" href="/">
                                <i class="fa fa-home"></i>
                            </a>
                        </li>
                        <li class="nav-item resp-nav">
                            <a class="nav-link" id="saved-link" href="/saved">Saved Articles</a>
                        </li>
                        <li class="nav-item">
                            <button class="nav-link btn btn-sm btn-secondary" id="btn-scraper">
                                <i class="fa fa-newspaper-o"></i> Scrape more articles</button>
                        </li>
                    </ul>
                    <p class="tagline">Scraping the latest from <span class="sky ml-1">SKY News</span>
                    </p>
                </div>
            </nav>
        </header>
        {{{ body }}}


</body>

</html>